body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  font-size: 20px;

}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}



#header{
  height: 75px;
  border-bottom: 2px solid black;
}

#header ul li{
  font-size: 22px;
  padding: 5px;
  display: inline-block;
}


#showcase{
  height: 125px;
  background-color: grey;
}

#showcase h1{
  font-size: 28px;
  margin:0;
  color: white;
}

#news{
  padding: 2px 55px 2px 55px;
  margin-right: 10px;
  float: right;
  background-color: lightblue;
  clear: both;
}

#events{
  padding: 2px 10px 2px 10px;
  margin-top: 400px;
  margin-right: 10px;
  float: right;
  background-color: lightblue;
  clear:both;
}

#boxes{
  margin-top: 20px;

}

#boxes .box{
  display: block;
  float: left;
  text-align: center;
  width: 25%;
  height: 500px;
  padding: 15px;
}

.star{
  width: 25px;
}

.photo{
  width: 250px;
  height: 200px;
  border: solid black 1px;
  object-fit: cover;
}
